body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: .75rem;
    display: flex;
    font-size: 1rem;
}

.toggle {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: auto;
    /* background-color: yellow; */
}

label {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 1em 0;
    background-color: grey;
}

label::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 2px;
    left: 22px;
    transition: .5s;
    background-color: red;
}

.toggle:checked+label::after {
    transform: translate(-18px);
    background-color: grey;
}

.spaceData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

.spaceData__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .75rem 0;
    width: 90%;
    background-color: rgb(134, 86, 136);
    border-radius: .50rem;
}

.card_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
}

.card_details * {
    margin: .3rem;
}

img {
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    max-width: 600px;
    border-radius: .50rem .50rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


/* btn like */

.btn-like {
    background-color: whitesmoke;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: .5rem;
    padding: .3rem;
    width: 3rem;
}

.btn-liked {
    background-color: whitesmoke;
    color: red;
    font-size: 1rem;
    border-radius: .5rem;
    padding: .3rem;
}


/* change theme */

.dark {
    background-color: black;
}

.grey {
    background-color: white;
}