:root {
    --source-sans: 'Source Sans Pro', sans-serif;
    --light: rgb(245, 245, 245);
    --white: #fff;
    --whitesmoke: rgb(216, 216, 216);
    --darker: #000;
    --dark: #212529;
    --grey: #343a40;
    --lightGrey: rgb(128, 128, 128);
    --orange: #f3bf99;
    --lightRed: #fdb3b3;
    --red: rgb(255, 0, 0);
    --lightPink: #f0b9dd;
    --gradient: linear-gradient(45deg, #fffad1, #f3bf99, #f0b9dd, #c7b9ff, #b5caf9, #aad1b6);
    --black-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --white-shadow: 0 0 6px #fff, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

html {
    font-family: var(--source-sans);
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 100%;
    background: var(--gradient);
}

h1 {
    display: flex;
    margin: 1rem;
    font-size: 1.3rem;
}

header img {
    width: 30px;
    height: 30px;
    margin: 0 5px 5px 0;
}

.toggle {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: auto;
}

label {
    display: flex;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 0 1rem 1.5rem 1rem;
    background-color: var(--white);
}

label::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 23px;
    border-radius: 50%;
    top: 3px;
    left: 22px;
    transition: .5s;
    background-color: var(--orange);
}

.toggle:checked+label::after {
    transform: translate(-18px);
    background-color: var(--darker);
}

.btn {
    display: flex;
    padding: .60rem;
    border: none;
    border-radius: .5rem;
}

.input {
    display: none;
    padding: .30rem;
    margin: 1rem 0 1rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--light);
}

.close-icon {
    display: none;
    margin: 1rem .5rem 1rem .5rem;
    background-color: var(--lightRed);
}

button,
label,
input {
    box-shadow: var(--black-shadow);
}

#calendar-icon {
    background-color: var(--lightPink);
}

.search-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spaceData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.spaceData__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .75rem 0;
    width: 100%;
    border-radius: .50rem;
    background-color: var(--white);
    box-shadow: var(--black-shadow);
}

.card_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
}

.card_details * {
    margin: .3rem;
}

.spaceData__container__img {
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    max-width: 600px;
    border-radius: .50rem .50rem 0 0;
    box-shadow: var(--black-shadow);
}


/* btn like */

.btn-like {
    padding: .3rem;
    width: 3rem;
    font-size: 1rem;
    color: var(--lightGrey);
    background-color: var(--white);
    border: 0.01rem solid var(--whitesmoke);
    border-radius: .5rem;
    box-shadow: var(--black-shadow);
}

.btn-liked {
    padding: .3rem;
    font-size: 1rem;
    color: var(--red);
    background-color: var(--light);
    border-radius: .5rem;
    box-shadow: var(--black-shadow);
}


/* dark mode */

.dark {
    background-color: var(--dark);
}

.dark header {
    background: var(--grey);
}

.dark h1,
.dark h3,
.dark p {
    color: var(--light);
}

.dark #calendar-icon {
    background-color: var(--light);
}

.dark button,
.dark #input-date,
.dark label {
    box-shadow: var(--white-shadow);
}

.dark #close-icon {
    color: var(--white);
    background-color: var(--darker);
    box-shadow: var(--white-shadow);
}

.grey {
    background-color: var(--grey);
    box-shadow: var(--white-shadow);
}