/* loading page */

.loader {
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    margin-top: 28rem;
    position: fixed;
}

.sun {
    background: radial-gradient(#ff0, #f90);
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.planet {
    position: absolute;
    z-index: 100;
    border-radius: 50%;
}

.planetA {
    left: 1.25rem;
    height: 0.813rem;
    width: 0.813rem;
    background-color: #ff8;
    border: 0.031rem solid grey;
}

.planetB {
    left: 1.438rem;
    height: 1.25rem;
    width: 1.25rem;
    background: linear-gradient(#00ff00, #09f, #09f);
    -webkit-animation: rotation 1s infinite linear;
    animation: rotation 1s infinite linear;
}

.planetC {
    left: 3.063rem;
    height: 1.063rem;
    width: 1.063rem;
    background: radial-gradient(#ff9900, #ff4400);
}

.orbit {
    background: transparent;
    border-radius: 50%;
    border: 0.063rem solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.orbitA {
    height: 6.25rem;
    width: 6.25rem;
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

.orbitB {
    height: 9.375rem;
    width: 9.375rem;
    -webkit-animation: rotation 3s infinite linear;
    -moz-animation: rotation 3s infinite linear;
    animation: rotation 3s infinite linear;
}

.orbitC {
    height: 12.5rem;
    width: 12.5rem;
    -moz-animation: rotation 6s infinite linear;
    -webkit-animation: rotation 6s infinite linear;
    animation: rotation 6s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}